﻿@model ForCleveroad.Models.OrderViewModel

@{
    ViewBag.Title = ViewBag.CreateOrEdit;
    string type = ViewBag.CreateOrEdit;
}

<h2>@ViewBag.Title</h2>

<script src="~/Scripts/priceFromCheckbox.js" type="text/javascript"></script>

@using (Html.BeginForm(type, "Home"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@ViewBag.Title Order</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price, new { @readonly = "readonly", @id = "Price" })
            @Html.ValidationMessageFor(model => model.Price)
        </div>

            <div class="editor-field">
            <table style="width: 100%">
                <tr>
                    @{
                     int cnt = 0;
                     var seat = Model.AllSeats;

                     foreach (var s in seat)
                     {
                        if (cnt++ % 25 == 0)
                        {
                            @: </tr><tr> 
                        }
        
                            <td>
                                <input type="checkbox"
                                       name="selectedSeats"
                                       value="@s.SeatId"
                                       @(Html.Raw("id=\"" + s.Type + s.SeatId + "\""))
                                       class="checkboxes"
                                       @(Html.Raw(s.OrderId == null ? "" : s.OrderId == Model.OrderId ? "checked='checked'" : "disabled='disabled'")) />
                                @s.Type
                                </td>
                     }
                                @: </tr>
                    }
                </table>
            </div>

        A - $25, B - $15, C - $10
        <p>
            <input type="submit" value="@type" />

        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
