﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/content/site.css" rel="stylesheet" type="text/css" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/jquery-1.9.1.min.js"></script>

</head>
<body>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </body>

    <script src="~/scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/datatables/jquery.datatables.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
